@page "/addcomponent"

<PageTitle>Add Ingredient</PageTitle>

<AuthorizeView>
    <Authorized>
        <h3>Add Ingredient</h3>
    </Authorized>
    <NotAuthorized>
        Not authorized, you are not logged in.
    </NotAuthorized>
</AuthorizeView>
@code {

}
