@page "/components"
@using Cost_DataAccess

<PageTitle>Ingredients</PageTitle>
<h1>Ingredients</h1>

@if (components == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Unit of Measure</th>
                <th>Other</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var component in components)
            {
                <tr>
                    <td>@component.Name</td>
                    <td>@component.Price</td>
                    <td>@component.UoM</td>
                    <td>@component.Other</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private Component[]? components;


    protected override async Task OnInitializedAsync()
    {
        //    products = await ProductService.GetProductsAsync();

        Component oat = new Component { Name = "Oat Milk", Price = 3.23, UoM = "Liter", Other = "Plant Milks"};
        Component cold_brew = new Component { Name = "Cold Brew", Price = 17.87, UoM = "Liter", Other = "Fulcrum Coffee" };
        Component syrup_vanilla = new Component { Name = "Organic Syruo Vanila", Price = 97, UoM = "Liter", Other = "Madagascar" };

        components = new Component[3];

        components[0] = oat;
        components[1] = cold_brew;
        components[2] = syrup_vanilla;


    }
}

