@page "/settings"
<AuthorizeView>
    <Authorized>
        <h1>Settings</h1><br /><br />
        <h5>Date Format</h5><br />
        <h5>Currency</h5><br />
        <h5>Default Unit of Measure</h5><br /><br />
        <h2>Profile</h2><br />
        <h5>Change Email</h5><br />
        <h5>Change Password</h5><br />
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

@code {

}
