@page "/products"

@inject IProductRepository _product
@inject NavigationManager _nav
@inject IProductComponentRepository _ProductComponentRepository

@attribute [Authorize]

<PageTitle>Product</PageTitle>
<AuthorizeView>
    <Authorized>
        <div class="row mt-4 p-3">
            <div class="col-6">
                <h4 class="card-title text-primary">Product List</h4>
            </div>
        </div>

        @if (products == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <SfToast ID="toast_default" @ref="ToastObj" Title="CANNOT DELETE THIS PRODUCT" Content="@ToastContent"
                     ShowCloseButton="true" NewestOnTop="true" ShowProgressBar="true">
                <ToastPosition X="Center"></ToastPosition>
            </SfToast>

            <SfGrid @ref="Grid" DataSource="@products" AllowPaging="true" AllowSorting="true" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Cancel", "Update"})">
                <GridPageSettings PageSize="10"></GridPageSettings>
                <GridEvents CommandClicked="OnCommandClicked" OnActionBegin="OnActionBegin" OnActionComplete="OnActionComplete" TValue="ProductDTO"></GridEvents>
                <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog"></GridEditSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(ProductDTO.Name) HeaderText="Name" IsPrimaryKey="true"></GridColumn>
                    <GridColumn Field=@nameof(ProductDTO.Price) HeaderText="Price"></GridColumn>
                    <GridColumn Field=@nameof(ProductDTO.Cost) HeaderText="Cost" Format="C2" AllowAdding="false" AllowEditing="false"></GridColumn>
                    <GridColumn Field=@nameof(ProductDTO.CostWastage) HeaderText="Cost Wastage" Format="C2" AllowAdding="false" AllowEditing="false"></GridColumn>
                    <GridColumn Field=@nameof(ProductDTO.Other) HeaderText="Other"></GridColumn>
                    <GridColumn HeaderText="Manage Records">
                        <GridCommandColumns>
                            <GridCommandColumn ButtonOption="@(new CommandButtonOptions() { Content = "Details", CssClass = "e-flat" })"></GridCommandColumn>
                        </GridCommandColumns>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        }
    </Authorized>
    <NotAuthorized>
        You are not logged in.
    </NotAuthorized>
</AuthorizeView>


@code {

        [Inject]
        UserManager<IdentityUser>? userManager { get; set; }
        [CascadingParameter]
        public Task<AuthenticationState>? authenticationState { get; set; }
    private string? authenticatedUserId;
    private SfGrid<ProductDTO>? Grid { get; set; }
    private IEnumerable<ProductDTO> products { get; set; } = new List<ProductDTO>();
    private IEnumerable<ProductComponentDTO> ProductComponents { get; set; } = new List<ProductComponentDTO>();
    public bool isLoading { get; set; }
    private SfToast ToastObj;
    private int DeleteProductId { get; set; } = 0;

    private async Task LoadProducts()
    {
        var user = (await authenticationState).User;
        if (user.Identity.IsAuthenticated)
        {
            var authenticatedUser = await userManager.GetUserAsync(user);
            authenticatedUserId = authenticatedUser.Id;
            products = await _product.GetAll(authenticatedUserId);
            ProductComponents = await _ProductComponentRepository.GetAll(authenticatedUserId);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        StateHasChanged();
        await Task.Run(LoadProducts);
        isLoading = false;
        StateHasChanged();
    }

    public async Task OnActionBegin(ActionEventArgs<ProductDTO> args)
    {
        if (args.RequestType.ToString() == "Save")
        {
            Console.WriteLine("save");
            if (args.Data.Id == 0)
            {
                args.Data.UserId = authenticatedUserId;
                await _product.Create(args.Data);
            }
            else
            {
                args.Data.UserId = authenticatedUserId;
                await _product.Update(args.Data);
            }
        }
        if (args.RequestType.ToString() == "Delete")
        {
            Console.WriteLine("delete");
            var DeleteProductComponent = ProductComponents.FirstOrDefault(p => p.ComponentProductId == args.Data.Id);
            if (DeleteProductComponent != null)
            {
                args.Cancel = true;
                ShowToast();
            }
            else
            {
                await _product.Delete(args.Data.Id);
                products = await _product.GetAll(authenticatedUserId);
            }
        }
    }

    public async Task OnActionComplete(ActionEventArgs<ProductDTO> args)
    {
        if (args.RequestType.ToString() == "Add" || args.RequestType.ToString() == "BeginEdit")
        {
            args.PreventRender = false;
        }
        if (args.RequestType.ToString() == "Save")
        {
            products = await _product.GetAll(authenticatedUserId);
            await Grid.Refresh();
        }
    }

    public void OnCommandClicked(CommandClickEventArgs<ProductDTO> args)
    {
        _nav.NavigateTo($"product/price/{args.RowData.Id}");
    }

    private string ToastContent = "<div> Please delete after removing from recepe.</div>";
    private async Task ShowToast()
    {
        await this.ToastObj.ShowAsync();
    }
}

